@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $greyWhite;
}

.active-account button.btn.dropdown-toggle i {
  font-size: 7px;
  color: #5AB3AE;
}
.active-account button:active {
  border-color: #6e6e6e !important;
}
.active-account button{
  border: 1px solid #6e6e6e !important;
}

.user-icon i.fa-regular.fa-circle{
  font-size: 30px;
      color: #367BCF;

}
:is(ul,ol)>:not(li), a:is(:not([href]),[href=""],[href="#"]) {
  outline: none;
}

.bigfont{
  font-size: 1.5rem;
}
img:not([alt]), img:not([height]), img:not([width]) {
  filter: none;
}

.extension-spacer{
  margin: 10px 5px 0px 5px;
}

.justify-content-center{
  justify-content: center;
}

.title{
  margin-left: 70px;
  font-weight:bold;
  font-size:24px;
}
.btn-tiny{
  min-width: 20px;
  min-height:5px;
  border-radius: 2px;
  background: #A5753D;
  color: white;
  border-color: #A5753D;

}
.small-btn{
  min-width: 130px;
  min-height:50px;
  border-radius: 10px;
  
}

button{
  min-width: 200px;
  min-height:50px;
  border-radius: 10px;
  
}



#popup {
  min-width: 400px;
  min-height:600px;
  padding:20px 20px;
  
  

  .app-content {
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-background-alternative);
    padding:20px 20px;
    
   
  }


  .welcome-head h3 {
    color: #A5753D;
    font-weight: 500;
    font-size: 48px;
}

  .justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}




  h1 {
    font-size: 25px;
    text-align: center;
  }

  .spacer{
    margin: 30px 20px;
  }

  h2 {
    font-size: 18px;
    text-align: center;
  }

  

  .menu-bar {
    display: grid;
    grid-template-columns: 30% minmax(30%, 1fr) 30%;
    column-gap: 5px;
    padding: 0 8px;
    border-bottom: 1px solid var(--color-border-muted);
    height: 64px;
}

.connected-status-indicator {
  display: flex;
  align-items: center;
  place-self: center start;
  background: none;
  font-size: inherit;
  padding: 8px;
  border-radius: 100px;
}

.menu-bar {
  display: grid;
  grid-template-columns: 30% minmax(30%, 1fr) 30%;
  column-gap: 5px;
  padding: 0 8px;
  border-bottom: 1px solid var(--color-border-muted);
  height: 64px;
}

.menu-bar .selected-account {
  grid-column: 2/span 1;
  place-self: center stretch;
}
.selected-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

  .sendbtn {
    background-image: url('../assets/icons/send.png');
    background-size: cover;
    width: 200px;
    height: 100px;
    font-size: 2rem;
}

.hollow-btn {
  background: none !important;
  color: #A5753D;
  border-color: #A5753D;
}

.gold-btn {
  background: #A5753D;
  color: white;
  border-color: #A5753D;
}


.rounded-pill {
  border-radius: var(--bs-border-radius-pill)!important;
}


  .btnmin{
    min-width: 200px;
    min-height:50px;
  }

  a{
    color:black;
  }

  .wallet-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-height: 209px;
    min-width: 0;
    padding-top: 10px;
    flex-direction: column;
    width: 100%;
}


.wallet-overview__balance {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wallet-overview__buttons {
  display: flex;
  flex-direction: row;
  height: 68px;
  margin-bottom: 24px;
}

.icon-button__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background: var(--color-primary-default);
  border-radius: 18px;
  margin-top: 6px;
  margin-bottom: 5px;
}

.currency-display-component__text {
  direction: ltr;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.currency-display-component {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.eth-overview__balance {
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  align-items: center;
  margin: 16px 0;
  padding: 0 16px;
  max-width: 100%;
}

.eth-overview__primary-balance {
  font-size: 2rem;
  font-family: "Euclid Circular B", Roboto, Helvetica, Arial, sans-serif;
  line-height: 140%;
  font-style: normal;
  font-weight: normal;
  color: var(--color-text-default);
  width: 100%;
  justify-content: center;
}
.nav-link{
  border-radius: 0px;
}
.nav-link.active{
  background: #A5753D;
  color: white;

}


}

#popup-root{
  a{
    color:black;
  }
  a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


}